<div class="container"> 
  <% @contacts.each do |contact| %>
    <div class="row"> 
      <div class="col-sm-2">
        <%= contact["name"] %>
      </div>
      <div class="col-sm-2">
        <%= contact["contact_type"] %>
      </div>
    </div>
    
  <% end %>
</div> 